<mat-card
    class="mb-25 tagus-card activity-timeline-box"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Recentes fiches</h5>
    </mat-card-header>
    <mat-card-content>
        <ul class="m-0 p-0">
            <li class="position-relative" *ngFor="let fiche of ELEMENT_DATA">
                <img src="assets/img/icon/avatar.png" alt="avatar">
                <h5 class="fw-semibold">{{ fiche.province }}</h5>
                <p class="fw-semibold">{{ fiche.num_epi }}</p>
                <p>
                    <span class="badge text-soft-primary" *ngIf="fiche.statut == 'Cas suspect'">{{ fiche.statut }}</span>
                    <span class="badge text-soft-warning" *ngIf="fiche.statut == 'Cas probable'">{{ fiche.statut }}</span>
                    <span class="badge text-soft-danger" *ngIf="fiche.statut == 'Cas confirmé'">{{ fiche.statut }}</span>
                    <span class="badge text-soft-success" *ngIf="fiche.statut == 'Cas non actif'">{{ fiche.statut }}</span>
                </p>
                <span class="time muted-color">{{ fiche.created | date: 'HH:mm:ss'}}</span>
            </li> 
        </ul>
    </mat-card-content>
</mat-card>