<div
    class="welcome-box border-radius bg-white box-shadow mb-25"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="top border-top-radius position-relative">
        <img src="assets/img/logo-icon.png" alt="welcome">
        <h4 class="main-color">Bienvenue sur le Tableau bord!</h4>
        <p class="main-color">
            Vous pouvez maintenant piloter les projets par 
            l'intermédiaire des indicateurs de performance, de définir les prévisions 
            et de contrôler la réalisation.
        </p>
    </div> 
</div>