<p>internal-error works!</p>
<div class="h-100vh pt-50 pb-50">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="internal-error text-center">
                <img src="assets/img/error.png" class="mb-30" alt="error">
                <h4 class="mb-15 ms-auto me-auto">Il semble que nous ayons une erreur interne, veuillez réessayer plus tard.</h4>
                
                <p>
                    {{ err }}
                </p>
                <a mat-raised-button class="tagus mt-10" routerLink="/">Rendez-vous sur le tableau de bord</a>
            </div>
        </div>
    </div>
</div>