<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Nouveau personnel</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/users/user-list">
                <i class="ri-home-8-line"></i>
                Personnels
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">new user</li>
    </ol>
</div>


<mat-card class="mb-25 tagus-card">
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <div class="row"> 
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Structure</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-road-map-line"></i>
                            <mat-label>Entrer structure</mat-label>
                            <mat-select  id="structure" (ngModel)]="user.structure" name="structure" 
                                required="Champs obligatoire">
                                <mat-option *ngFor="let countrie of countries" [value]="countrie.code">
                                    {{countrie.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer nom</mat-label>
                            <input matInput id="nom" (ngModel)]="user.nom" name="nom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Postnom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer postnom</mat-label>
                            <input matInput id="postnom" (ngModel)]="user.postnom" name="postnom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Prenom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer prenom</mat-label>
                            <input matInput id="prenom" (ngModel)]="user.prenom" name="prenom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Sexe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-women-line"></i>
                            <mat-label>Sexe</mat-label>
                            <mat-select id="sexe" (ngModel)]="user.sexe" name="sexe" required="Champs obligatoire">
                                <mat-option *ngFor="let sexe of sexes" [value]="sexe.value">
                                    {{sexe.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nationalite</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-road-map-line"></i>
                            <mat-label>Entrer Nationalite</mat-label>
                            <mat-select id="nationalite" (ngModel)]="user.nationalite" name="nationalite" required="Champs obligatoire">
                                <mat-option *ngFor="let countrie of countries" [value]="countrie.code">
                                    {{countrie.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <mat-form-field appearance="fill">
                            <i class="ri-user-heart-line"></i>
                            <mat-label>Etat civil</mat-label>
                            <mat-select id="etat_civile" (ngModel)]="user.etat_civile" name="etat_civile" required="Champs obligatoire">
                                <mat-option value="CELIBATAIRE">Célibataire</mat-option>
                                <mat-option value="MARIE(E)">Marié</mat-option> 
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Adresse</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-map-pin-line"></i>
                            <mat-label>Entrer adresse</mat-label>
                            <input matInput id="adresse" (ngModel)]="user.adresse" name="adresse" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Titre</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer titre</mat-label>
                            <input matInput id="titre" (ngModel)]="user.titre" name="titre" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Province affectation</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-road-map-line"></i>
                            <mat-label>Entrer province</mat-label>
                            <mat-select id="province" (ngModel)]="user.province" name="province" required="Champs obligatoire">
                                <mat-option *ngFor="let countrie of countries" [value]="countrie.code">
                                    {{countrie.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Zone de santé</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer zone sante</mat-label>
                            <input matInput id="zone_sante" (ngModel)]="user.zone_sante" name="zone_sante" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Email <span>*</span></label>
                        <mat-form-field appearance="fill">
                            <i class="ri-mail-line"></i>
                            <mat-label>Entrer email</mat-label>
                            <input matInput type="email" id="email" (ngModel)]="user.email" name="email" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Téléphone</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-phone-line"></i>
                            <mat-label>Entrer phone number</mat-label>
                            <input matInput type="tel" id="telephone" (ngModel)]="user.telephone" name="telephone" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Matricule</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer matricule</mat-label>
                            <input matInput id="matricule" (ngModel)]="user.matricule" name="matricule" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Mot de passe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer password</mat-label>
                            <input matInput id="password" (ngModel)]="user.password" name="password" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Confirmation Mot de passe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer password_confirm</mat-label>
                            <input matInput id="password_confirm" (ngModel)]="user.password_confirm" name="password_confirm" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div>
                <button mat-flat-button class="tagus" matStepperSuivant>Soumettre</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>



