<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h4 class="mb-0">Nouveau utilisateur</h4>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/users/user-list">
                <i class="ri-home-8-line"></i>
                User
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Add</li>
    </ol>
</div>


<mat-card class="mb-25 tagus-card">
    <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Structure</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-home-heart-line"></i>
                            <mat-label>Entrer structure</mat-label>
                            <mat-select formControlName="structure" required="Champs obligatoire">
                                <mat-option *ngFor="let structure of structureList" [value]="structure.single">
                                    {{structure.single}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6">
                    <div class="tagus-form-group ms-20">
                        <label class="d-block mb-12 fw-semibold gray-color">Upload Image</label>
                        <input formControlName="photo" class="form-control" hidden name="photo"> 
                        <app-file-upload (uploadedUrl)="formGroup.patchValue({'photo': $event})"></app-file-upload> 
                    </div> 
                </div>  -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer nom</mat-label>
                            <input matInput formControlName="nom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Postnom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer postnom</mat-label>
                            <input matInput formControlName="postnom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Prenom</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <mat-label>Entrer prenom</mat-label>
                            <input matInput formControlName="prenom" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Sexe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-men-line"></i>
                            <mat-label>Sexe</mat-label>
                            <mat-select formControlName="sexe" required="Champs obligatoire">
                                <mat-option value="Femme">Femme</mat-option>
                                <mat-option value="Homme">Homme</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group"> 
                        <label class="d-block mb-12 fw-semibold gray-color">Nationalité</label>
                        <ng-autocomplete #ngAutoCompleteReactive
                            [data]="nationaliteList"
                            formControlName="nationalite"
                            [initialValue]=""
                            [placeholder]="placeholder"
                            [searchKeyword]="keyword"
                            historyIdentifier="countriesReactiveList"
                            [historyHeading]="historyHeading"
                            notFoundText="Aucune suggestion..." 
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item"></a>
                          </ng-template>
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Etat civil</label>
                        <mat-form-field appearance="fill"> 
                            <i class="ri-men-line"></i>
                            <mat-label>Etat civil</mat-label>
                            <mat-select formControlName="etat_civile" required="Champs obligatoire">
                                <mat-option value="CELIBATAIRE">Célibataire</mat-option>
                                <mat-option value="MARIE(E)">Marié</mat-option> 
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Adresse</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-map-pin-line"></i>
                            <mat-label>Entrer l'adresse</mat-label>
                            <input matInput formControlName="adresse" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Titre</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-team-line"></i>
                            <mat-label>Entrer le titre</mat-label>
                            <input matInput formControlName="titre" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Province</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-road-map-line"></i>
                            <mat-label>Entrer la province</mat-label>
                            <mat-select formControlName="province" required="Champs obligatoire">
                                <mat-option *ngFor="let province of provinceList" [value]="province">
                                    {{province}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Zone de santé</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-road-map-line"></i>
                            <mat-label>Entrer la zone de santé</mat-label>
                            <mat-select formControlName="zone_sante" required="Champs obligatoire">
                                <mat-option *ngFor="let zoneSante of zoneSanteList" [value]="zoneSante.zone">
                                    {{zoneSante.zone}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Email</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-mail-line"></i>
                            <mat-label>Entrer email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Téléphone</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-phone-line"></i>
                            <mat-label>Entrer phone number</mat-label>
                            <input matInput type="tel" formControlName="telephone" required="Champs obligatoire">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2">Patientez-svp...</p>
            </div>
            <div *ngIf="!isLoading">
                <button mat-flat-button class="tagus" matStepperSuivant [disabled]="!formGroup.valid">Soumettre</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>



