<mat-card
    class="mb-25 tagus-card tagus-card language-box"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Type de contact</h5> 
    </mat-card-header>
    <mat-card-content>
        <div class="chart" *ngIf="typeContactList.length > 0">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [plotOptions]="chartOptions.plotOptions!"
                [labels]="chartOptions.labels!"
                [colors]="chartOptions.colors!"
            ></apx-chart>
        </div>
        <ul class="list mb-0">
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">A touché animal domestique</span>
                <span class="gray-color fw-semibold"></span>
                <span class="gray-color" *ngFor="let item of typeContactFilterTouche">
                    <i class="flaticon-bar-chart-4"></i> 
                    {{item.pourcentage}} %
                </span> 
            </li>
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">A voyagé en dehors</span>
                <span class="gray-color fw-semibold"></span>
                <span class="gray-color" *ngFor="let item of typeContactFilterVoyage">
                    <i class="flaticon-bar-chart-4"></i> 
                    {{item.pourcentage}} %
                </span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>