<!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="prev()">
                Previous
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="next()">
                Suivant
            </a>
        </li>
    </ul>
</nav> -->

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="javascript:void(0)" (click)="prev()">Precedent</a>
      </li>
      <li class="page-item">
        <a class="page-link" 
          href="javascript:void(0)" (click)="next()">Suivant</a>
      </li>
    </ul>
</nav>
  
  
 