<mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Information du patient</h5>
        <div>
            <button mat-icon-button color="accent" [routerLink]="['/layouts/patients', patient.id, 'patient-edit']">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(patient.id)">
                <mat-icon>delete</mat-icon>
            </button> 
        </div>
    </mat-card-header>
    <mat-card-content>
       <ul class="list ps-0 mb-0">
            <li>
                <span class="fw-semibold d-inline-block">N° ordre:</span>
                <span class="gray-color">{{ patient.id }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Nom:</span>
                <span class="gray-color">{{ patient.nom }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Postnom:</span>
                <span class="gray-color">{{ patient.postnom }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Prenom:</span>
                <span class="gray-color">{{ patient.prenom }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Sexe:</span>
                <span class="gray-color">{{ patient.sexe }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Age par AN:</span>
                <span class="gray-color">{{ patient.age_an }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Age par MOIS:</span>
                <span class="gray-color">{{ patient.age_mois }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Fourchette d'age:</span>
                <span class="gray-color">{{ patient.fourchette_age }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Lieu residence:</span>
                <span class="gray-color">{{ patient.lieu_residence }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Aire sante:</span>
                <span class="gray-color">{{ patient.aire_sante }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Profession:</span>
                <span class="gray-color">{{ patient.profession }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Email:</span>
                <span class="gray-color">{{ patient.email }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Telephone:</span>
                <span class="gray-color">{{ patient.telephone }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Province:</span>
                <span class="gray-color">{{ patient.province }}</span>
            </li> 

            <li>
                <span class="fw-semibold d-inline-block">Signature:</span>
                <span class="gray-color">{{ patient.signature }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Créé le:</span>
                <span class="gray-color">{{ patient.created | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">Mis à jour le:</span>
                <span class="gray-color">{{ patient.update_created | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>