<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">Fiches épidemiologiques du patient</h5>
         
    </mat-card-header>
    <mat-card-content>
        <div class="tagus-form-group">
            <mat-form-field appearance="fill">
                <i class="ri-search-line"></i>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div class="myTasksTable mat-elevation-z8 tagus-mat-table">
            <div *ngIf="isLoading">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </div>
            <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">

                <ng-container matColumnDef="statut">
                    <th mat-header-cell *matHeaderCellDef>Statut</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="badge text-soft-primary" *ngIf="element.statut == 'Cas suspect'">{{ element.statut }}</span>
                            <span class="badge text-soft-warning" *ngIf="element.statut == 'Cas probable'">{{ element.statut }}</span>
                            <span class="badge text-soft-danger" *ngIf="element.statut == 'Cas confirmé'">{{ element.statut }}</span>
                            <span class="badge text-soft-success" *ngIf="element.statut == 'Cas non actif'">{{ element.statut }}</span>
                    </td>
                </ng-container>  

                <ng-container matColumnDef="num_epi">
                    <th mat-header-cell *matHeaderCellDef class="text-start">N° épidemiologique</th>
                    <td mat-cell *matCellDef="let element" class="fw-semibold text-start">
                        <a [routerLink]="[ '/layouts/epidemies/epidemie-view', element.id ]">
                            {{element.num_epi}}
                        </a>
                    </td>
                </ng-container>  
     
                <ng-container matColumnDef="semaine_epi">
                    <th mat-header-cell *matHeaderCellDef>Semaine épi.</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.semaine_epi}}
                </ng-container>

                <ng-container matColumnDef="date_notification">
                    <th mat-header-cell *matHeaderCellDef>Date notification</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.date_notification | date: 'dd/MM/yyyy'}}
                </ng-container>

                <ng-container matColumnDef="fievre">
                    <th mat-header-cell *matHeaderCellDef>Fièvre</th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngIf="element.fievre">OUI</div>
                        <div *ngIf="!element.fievre">NON</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="eruption_cutanee">
                    <th mat-header-cell *matHeaderCellDef>Eruption cutanee</th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngIf="element.eruption_cutanee">OUI</div>
                        <div *ngIf="!element.eruption_cutanee">NON</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date_symptome">
                    <th mat-header-cell *matHeaderCellDef>Date symptôme</th>
                    <td mat-cell *matCellDef="let element">{{element.date_symptome | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="date_admition">
                    <th mat-header-cell *matHeaderCellDef>Date admition</th>
                    <td mat-cell *matCellDef="let element">{{element.date_admition | date: 'dd/MM/yyyy'}}</td>
                </ng-container> 

                <ng-container matColumnDef="date_diagonstic">
                    <th mat-header-cell *matHeaderCellDef>Date diagonstic</th>
                    <td mat-cell *matCellDef="let element">{{element.date_diagonstic | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="structure">
                    <th mat-header-cell *matHeaderCellDef>Structure</th>
                    <td mat-cell *matCellDef="let element">{{element.structure}}</td>
                </ng-container>

                <ng-container matColumnDef="a_ete_contact_patient">
                    <th mat-header-cell *matHeaderCellDef>A été contact patient</th>
                    <td mat-cell *matCellDef="let element">{{element.a_ete_contact_patient}}</td>
                </ng-container>

                <ng-container matColumnDef="type_contact">
                    <th mat-header-cell *matHeaderCellDef>Type contact</th>
                    <td mat-cell *matCellDef="let element">{{element.type_contact}}</td>
                </ng-container>

                <ng-container matColumnDef="a_ete_hospitalise">
                    <th mat-header-cell *matHeaderCellDef>A été hospitalisé</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.a_ete_hospitalise">OUI</div>
                        <div *ngIf="!element.a_ete_hospitalise">NON</div>
                    </td> 
                </ng-container>

                <ng-container matColumnDef="croute">
                    <th mat-header-cell *matHeaderCellDef>Croûte</th>
                    <td mat-cell *matCellDef="let element">{{element.croute}}</td>
                </ng-container>

                <ng-container matColumnDef="ecouvillon">
                    <th mat-header-cell *matHeaderCellDef>Ecouvillon (SWAB)</th>
                    <td mat-cell *matCellDef="let element">{{element.ecouvillon}}</td>
                </ng-container>

                <ng-container matColumnDef="prevelement_sanguin">
                    <th mat-header-cell *matHeaderCellDef>Prevelement sanguin</th>
                    <td mat-cell *matCellDef="let element">{{element.prevelement_sanguin}}</td>
                </ng-container>
                <ng-container matColumnDef="date_prelevement">
                    <th mat-header-cell *matHeaderCellDef>Date prelevement</th>
                    <td mat-cell *matCellDef="let element">{{element.date_prelevement | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="date_expedition">
                    <th mat-header-cell *matHeaderCellDef>Date expedition</th>
                    <td mat-cell *matCellDef="let element">{{element.date_expedition | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[15, 30]"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>