<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="25px"
    fxLayoutGap.xs="0"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-donut-chart"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Patients</span>
                    <h3>1200</h3>
                </div>
            </div>
            <p class="position-relative up"><span>Total patients</span></p>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-goal"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Cas suspect</span>
                    <h3>851</h3>
                </div>
            </div>
            <p class="position-relative up"><i class="flaticon-trend"></i> <span>70.9%</span></p>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-award"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Décès</span>
                    <h3>349</h3>
                </div>
            </div>
            <p class="position-relative down"><i class="flaticon-trend-1"></i> <span>29.0%</span></p>
        </mat-card>
    </div>
</div>