<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.lg="33%" fxFlex.md="100%" class="col">

        <app-welcome-dashboard></app-welcome-dashboard>

         <app-tranche-age></app-tranche-age>

    </div>
    <div fxFlex="67%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.lg="67%" fxFlex.md="100%" class="col">

        <app-patient-stats></app-patient-stats>

       <app-statut-stats></app-statut-stats>

    </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">

    <div fxFlex="66.666666%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-statut-epidemiologique></app-statut-epidemiologique>

        <app-evolution-cas-stats></app-evolution-cas-stats> 
    </div>

    <div fxFlex="33.333333%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">

        <app-province-stats></app-province-stats>

        <app-enregistrements-stats></app-enregistrements-stats>

    </div>

</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-sexe-stats></app-sexe-stats>
    </div> 
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-en-contact-stats></app-en-contact-stats>
    </div> 
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-taux-hospitalisation-stats></app-taux-hospitalisation-stats>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-type-contact-stats></app-type-contact-stats>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-fievre-stats></app-fievre-stats>
    </div> 
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0" fxLayoutGap.md="0">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="col">
        <app-eruption-cutanee></app-eruption-cutanee>
    </div>
</div>