<mat-card
    class="mb-25 tagus-card gender-box"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Nbre de patients par sexe</h5> 
    </mat-card-header>
    <mat-card-content>
        <div class="chart" *ngIf="nbrePatientSexeList.length > 0">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [plotOptions]="chartOptions.plotOptions!"
                [labels]="chartOptions.labels!"
                [colors]="chartOptions.colors!"
            ></apx-chart>
        </div>
        <ul class="list mb-0">
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Femme</span>
                <span class="gray-color fw-semibold"></span>
                <span class="gray-color" *ngFor="let item of nbrePatientSexeFilter">
                    <i class="flaticon-bar-chart-4"></i> 
                    {{item.pourcentage}} %
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Homme</span>
                <span class="gray-color fw-semibold"></span>
                <span class="gray-color"  *ngFor="let item of nbrePatientSexeFilterH">
                    <i class="flaticon-bar-chart-4"></i> 
                    {{item.pourcentage}} %
                </span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>