<mat-card class="mb-25 tagus-card audienceOverview-box">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Décès par année</h5>
        <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
            <i class="ri-more-fill"></i>
        </button>
        <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
            <button mat-menu-item type="button" class="bg-transparent border-none">Ce mois</button>
            <button mat-menu-item type="button" class="bg-transparent border-none">Cette année</button>
            <button mat-menu-item type="button" class="bg-transparent border-none">Année passée</button>
            <button mat-menu-item type="button" class="bg-transparent border-none">Tous</button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content>
        <div class="chart" *ngIf="statutDecesModelList.length > 0">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [dataLabels]="chartOptions.dataLabels!"
                [plotOptions]="chartOptions.plotOptions!"
                [yaxis]="chartOptions.yaxis!"
                [xaxis]="chartOptions.xaxis!"
                [grid]="chartOptions.grid!"
                [fill]="chartOptions.fill!"
                [title]="chartOptions.title!"
            ></apx-chart>
        </div>
    </mat-card-content>
</mat-card>